# Dependencies
/node_modules/

# Yarn (keep releases and plugins, ignore the rest)
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Build
/dist/

# IntelliJ
/.idea/
*.iml

# TypeScript
*.tsbuildinfo

# OS files
Thumbs.db
Desktop.ini

# Coverage
/coverage/

# Claude Code
.claude/
